*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}

ul{
    list-style: none;
}


body{
    background-color: rgb(64, 64, 79);
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.cont{
    background-color: white;
    border: 1px black solid;
    border-radius: 3px;
    min-width: 30%;
    height: 100%;
}


.flex{
    display: flex;
    gap: 1px;
    justify-content: space-between;

}


.txt-white{
    color: white;
    font-weight: bold;
}

.bg-brown{
    background-color: #785566;
    padding: 1.5%;
}

.refresh_btn{
    background: linear-gradient(180deg,#5cb85c ,#419641 ) ;
    border: none;
    outline: none;
    width: 30px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}


.tabs > li{
    display: flex;
    gap: 5px;
    padding: 10px 8px;
    font-weight: bold;
    cursor: pointer;

}

.tabs > li:not(.active){
    
    color: #337ab7;
  
}
.tabs{
    display: flex;
    background-color: whitesmoke;
  
}

.active{

    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom: 1px white solid;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    z-index: 1000;
    
}

.active_anim{
    animation: .3s active_in forwards ease-in-out;
    transition: .3s;

}


@keyframes active_in {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

.tab_contnet{
    margin-top: 15px;
    margin-left: 10px;
    
}

.tab_contnet:not(.active_tab){
    display: none;
}

.tab_contnet > div > input{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
}

.tab_contnet > div > button{
    background-color: #785566;
    padding: 5px;
    height: 35px;
    color: white;
    outline: none;
    border: none;
    font-size: 17px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    
}

footer{
    margin-top: 20px;
}

.status{
    background-color: #5cb85c;
    color: white;
    padding: 1%;
    margin-left: 5px;
    font-weight: bold;
    font-size: 15px;
    width: 50px;
    height: 25px;
    text-align: center;
}

.footer_stats{
    
    border: #e6e6fa solid 1px;
    vertical-align: middle;
    padding: 5px;
}


.available_num{
    background-color: #5cb85c;
    display: flex;
    justify-content: center;
    font-size: 14px;
    padding: 5px;
    width: 35px;
    border-radius: 5px;

}
.available_users{
    font-size: 14px;
    color: white;
    padding: 1.5%;
    background-color: #785566;
    display: flex;
    justify-content: center;
    align-items: center;
}
.err{
    color: red;
    
}
.user{
    display: flex;
    justify-content: space-between;
    border: 1px lightgray solid;

}

@media only screen and (max-width: 500px) {
    .cont{
        width: 100%;
    }
}