<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ادارة</title>
    <link rel="icon" href="./imgs/prv1.png" ">
    <link rel="stylesheet" href="./css/cp.css">
</head>
<body>

    
    <div class="edit_username_popup" id="edit_username_popup">
        <div class="edit_username_cont">
            <div class="top_menu">
                <div class="left">
                    <div><span style="color: white;" id="edit_username_name">name</span></div>
                </div>

                <div class="right">
                    <div class="close" id="edit_username_popup_close_btn"><i class="fa-solid fa-xmark"></i></div>
                </div>
            </div>

            <div class="form" >

                <div class="flex">
                    <div class="edit_users_txt">الصلاحيه</div>
                    <select id="edit_username_powers">

                    </select>
                    <div class="btn-green" id="powers_update_btn"><i class="fa-solid fa-floppy-disk"></i> <span>حفظ</span></div>
                </div>



                <br>

                <div class="flex">
                    <div class="edit_users_txt">الليكات</div>
                    <input type="number" placeholder="العدد" id="edit_username_likes">
                    <div class="btn-green" id="likes_update_btn"><i class="fa-solid fa-floppy-disk"></i> <span>حفظ</span></div>
                </div>

                <br>

                <div class="flex">
                    <div class="edit_users_txt">تغير كلمه السر</div>
                    <input type="text" placeholder="كلمه السر الجديدة" id="edit_username_password">
                    <div class="btn-green" id="password_update_btn"><i class="fa-solid fa-floppy-disk"></i> <span>حفظ</span></div>
                </div>

                <br>

                <div class="btn-red" id="edit_user_delete_btn">حذف العضويه</div>

            </div>

        </div>
    </div>

    
    <div class="grid">
        <div class="left">
            <ul class="lists">
                <li data-dataName="history">السجل</li>
                <li data-dataName="status">الحالات</li>
                <li data-dataName="users">الأعضاء</li>
                <li data-dataName="bans">الحظر</li>
                <li data-dataName="permissions">الصلاحيات</li>
                <li data-dataName="filter">فلتر</li>
                <li data-dataName="rooms">الغرف</li>
                <li data-dataName="shortcuts">الإختصارات</li>
                <li data-dataName="subs">الإشتراكات</li>
                <li data-dataName="messages">الرسائل</li>
                <li data-dataName="management">إداره الموقع</li>
            </ul>
        </div>
        <div class="right">
            <div class="right_cont">


                <div class="history data ">
                    <div class="search_history">
                        <input type="text" placeholder="البحث" autocomplete="off">
                    </div>
                    <table class="scroller">
                        <thead>
                            <tr>
                                <th>الحاله</th>
                                <th>العضو</th>
                                <th>الزخرفه</th>
                                <th>الآي بي</th>
                                <th>الدوله</th>
                                <th>الجهاز</th>
                                <th>المصدر</th>
                                <th>الدعوه</th>
                                <th>الوقت</th>
                            </tr>
                        </thead>
    
                        <tbody id="history_table">
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                           
                        </tbody>
    
                    </table>
                </div>
    
    
                <div class="status data ">
    
                    <table>
                        <thead>
                            <tr>
                                <th>الحاله</th>
                                <th>العضو</th>
                                <th>العضو الثاني</th>
                                <th>الغرفه</th>
                                <th>الوقت</th>
                            </tr>
                        </thead>
    
                        <tbody id="status_table">
    
    
                        </tbody>
    
                    </table>
                </div>
    
    
                <div class="users data ">
                    <div class="search_history">
                        <input type="text" placeholder="البحث" autocomplete="off">
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>العضو</th>
                                <th>الزخرفه</th>
                                <th>الآي بي</th>
                                <th>الجهاز</th>
                                <th>صلاحيات</th>
                                <th>آخر تواجد</th>
                                <th>التسجيل</th>
                                <th></th>
                            </tr>
                        </thead>
    
                        <tbody id="users_table">

    
                        </tbody>
    
                    </table>
                </div>
    
    
                <div class="bans data ">
                    <div class="search_history">
                        <input type="text" id="ban_input" placeholder="رقم الجهاز \\ الدوله \\ الاي بي" autocomplete="off">
                        <div class="btn-green" id="add_ban_btn">إضافه</div>
                    </div>
                    <table style="width: fit-content;">
                        <thead>
                            <tr>
                                
                                <th>العضو</th>
                                <th>الحظر</th>
                                <th>ينتهي في</th>
    
      
                            </tr>
                        </thead>
    
                        <tbody id="bans_table">

                        </tbody>
    
                    </table>
                </div>
    

                <div class="permissions data ">
                    <div class="permissions_grid">
                        <div class="left">
                            <div class="flex">
                                <div  style="flex: 1">
                                    <select class="select_permission">

    
                                    </select>
                                </div>
                                <div class="btn-red" style="margin: 5px;">
                                    <i class="fa-solid fa-xmark"></i>
                                    <span>حذف</span>
                                </div>
                            </div>
    
                            <div class="flex permissions_inputs">
                                <div>الترتيب</div>
                                <input  type="number" name="" id="power">
                            </div>
    
                            <div class=" permissions_inputs">
                                <div>إسم المجموعه</div>
                                <input type="text" id="power_name">
                            </div>
    
                            <div class=" permissions_inputs">
                                <div>الإيقونه</div>
                                <input type="text" id="power_icon">
                            </div>
    
                            <div class="flex permissions_inputs">
                                <div>الطرد</div>
                                <input class="input-sm" type="number" name="" id="kick">
                            </div>
    
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>حذف الحائط</div>
                                <label >تفعيل</label>
                                <input type="checkbox" id="remove_wall">
                            </div>
    
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>التنبيهات</div>
                                <label >تفعيل</label>
                                <input type="checkbox" id="notifications">
                            </div>
    
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>تغير النك</div>
                                <label >تفعيل</label>
                                <input type="checkbox" id="change_nickname">
                            </div>
    
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>تغير النكات</div>
                                <label >تفعيل</label>
                                <input type="checkbox" id="change_users_data">
                            </div>
    
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>الباند</div>
                                <label >تفعيل</label>
                                <input type="checkbox" id="ban">
                            </div>
    
                            
                            <div class="flex permissions_inputs">
                                <div>الإعلانات</div>
                                <input class="input-sm" type="number" id="ads">
                            </div>
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>فتح الخاص</div>
                                <label >تفعيل</label>
                                <input type="checkbox" id="open_private_chat">
                            </div>
    
                            <!-- <div class="flex permissions_inputs" style="align-items: center;">
                                <div>نقل من الغرفة</div>
                                <label >تفعيل</label>
                                <input type="checkbox" checked>
                            </div> -->
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>إداره الغرف</div>
                                <label >تفعيل</label>
                                <input type="checkbox" id="manage_rooms">
                            </div>
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>انشاء الغرف</div>
                                <label >تفعيل</label>
                                <input type="checkbox" id="create_rooms">
                            </div>
    
                                                    
                            <div class="flex permissions_inputs">
                                <div>اقصى حد للغرف الثابته</div>
                                <input class="input-sm" type="number" id="max_static_rooms">
                            </div>
    
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>إداره العضويات</div>
                                <label >تفعيل</label>
                                <input type="checkbox" id="manage_users">
                            </div>
    

                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>تعديل لايكات</div>
                                <label >تفعيل</label>
                                <input type="checkbox" id="edit_likes">
                            </div>
    

                            <!-- <div class="flex permissions_inputs" style="align-items: center;">
                                <div>إسكات العضو</div>
                                <label >تفعيل</label>
                                <input type="checkbox" checked>
                            </div> -->
    
                            <!-- <div class="flex permissions_inputs" style="align-items: center;">
                                <div>تعديل لايكات العضو</div>
                                <label >تفعيل</label>
                                <input type="checkbox" checked>
                            </div>
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>الفلتر</div>
                                <label >تفعيل</label>
                                <input type="checkbox" checked>
                            </div>
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>الاشتراكات</div>
                                <label >تفعيل</label>
                                <input type="checkbox" checked>
                            </div>
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>الاختصارات</div>
                                <label >تفعيل</label>
                                <input type="checkbox" checked>
                            </div>
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>رسائل الدردشة</div>
                                <label >تفعيل</label>
                                <input type="checkbox" checked>
                            </div>
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>أدارة البوتات</div>
                                <label >تفعيل</label>
                                <input type="checkbox" checked>
                            </div> -->
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>تعديل الصلاحيات</div>
                                <label >تفعيل</label>
                                <input type="checkbox" id="manage_subs">
                            </div>
    
                                                                            
                            <div class="flex permissions_inputs">
                                <div>الهدايا</div>
                                <input class="input-sm" type="number" id="gifts">
                            </div>
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>كشف النكات</div>
                                <label >تفعيل</label>
                                <input type="checkbox" id="show_users_data">
                            </div>
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>لوحه التحكم</div>
                                <label >تفعيل</label>
                                <input type="checkbox" id="control_panel">
                            </div>
    
                            <!-- <div class="flex permissions_inputs" style="align-items: center;">
                                <div>المحادثات الجماعية</div>
                                <label >تفعيل</label>
                                <input type="checkbox" checked>
                            </div> -->
    
                            <!-- <div class="flex permissions_inputs" style="align-items: center;">
                                <div>حذف صورة العضو</div>
                                <label >تفعيل</label>
                                <input type="checkbox" checked>
                            </div> -->
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>حذف الرسائل</div>
                                <label >تفعيل</label>
                                <input type="checkbox" id="remove_messages">
                            </div>
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>مخفي</div>
                                <label >تفعيل</label>
                                <input type="checkbox" id="private">
                            </div>
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>إداره الموقع</div>
                                <label >تفعيل</label>
                                <input type="checkbox" id="site_setting">
                            </div>
                            <div class="flex permissions_inputs" style="justify-content: flex-end;padding-bottom: 5px;">
                                <div id="save_permissions_btn" style="cursor: pointer;"><i class="fa-solid fa-pen-to-square"></i><span>حفظ</span></div>
                            </div>
    
                        </div>
    
                        <div class="right">
                            <div class="icon" data-icoName="1604252172995.gif">
                                <div><img src="./imgs/crown.gif" alt=""></div>
                                <div>1604252172995.gif</div>
                            </div>
                            <div class="icon" data-icoName="2904252672995.gif">
                                <div><img src="./imgs/crown.gif" alt=""></div>
                                <div>2904252672995.gif</div>
                            </div>
                            <div class="icon" data-icoName="1807852172995.gif">
                                <div><img src="./imgs/crown.gif" alt=""></div>
                                <div>1807852172995.gif</div>
                            </div>
                            <div class="icon" data-icoName="19394172995.gif">
                                <div><img src="./imgs/crown.gif" alt=""></div>
                                <div>19394172995.gif</div>
                            </div>
                        </div>
                    </div>
               
                </div>
    
    
                <div class="filter data " style="width: fit-content;">
                    <div class="search_history">
                        <input type="text" placeholder="اضافه كلمه\موقع" autocomplete="off" id="filter_input">
                    </div>
                    <div class="btn-green-sm" id="add_allowed_btn"><i class="fa-solid fa-check"></i> <span>إضافه ألى الكلمات المسموحه</span></div>
                    <div class="btn-red-sm" id="add_forbidden_btn"><i class="fa-solid fa-xmark"></i><span>إضافه ألى الكلمات الممنوعه</span></div>
                    <div class="btn-blue-sm" id="add_warn_btn"><i class="fa-solid fa-triangle-exclamation"></i> <span>إضافه ألى الكلمات المراقبه</span></div>
                    
                    <div class="txt">آخر الكلمات الممنوعه</div>
    
                    <div class="words">
    
    

    
                   

    
                    </div>
    
                    <table>
                        <thead>
                            <tr>
                                <th>التصنيف</th>
                                <th>الكلمه</th>
                                <th>الكلمه</th>
      
                            </tr>
                        </thead>
    
                        <tbody id="filter_table">

    
                        </tbody>
    
                    </table>
                </div>
    
    
                <div class="rooms data " style="width: fit-content;">
                    <table >
                        <thead>
                            <tr>
                                <th>الغرفه</th>
                                <th>صاحب الغرفه</th>
                                <th>اعدادات</th>
      
                            </tr>
                        </thead>
    
                        <tbody id="rooms_table">

    
                        </tbody>
    
                    </table>
                </div>
    
    
                <div class="shortcuts data " style="width: fit-content;">
                    <div class="search_history" style="flex-direction: column;width: fit-content;">
                        <input type="text" id="shortcut_input" placeholder="الإختصار \ س1" autocomplete="off">
                        <input type="text" id="shortcut_word_input" placeholder="الزخرفه \ السلام عليكم" autocomplete="off">
                    </div>
                    <div class="btn-green-sm" id="add_shortcut_btn" style="width: fit-content;"><i class="fa-solid fa-check"></i> <span>إضافه</span></div>
    
                    <table>
                        <thead>
                            <tr>
                                <th>الإختصار</th>
                                <th>الزخرفه</th>
                                <th>حذف</th>
      
                            </tr>
                        </thead>
    
                        <tbody id="shortcuts_table">

    
                        </tbody>
    
                    </table>
                </div>
    
    
                <div class="subs data " style="width: fit-content;">
    
                    <table>
                        <thead>
                            <tr>
                                <th>الإشتراك</th>
                                <th>العضو</th>
                                <th>الزخرفه</th>
                                <th>المده</th>
                                <th>الايام المتبقيه</th>
                                <th></th>
      
                            </tr>
                        </thead>
    
                        <tbody id="subs_table">
    

    

                        </tbody>
    
                    </table>
                </div>
    
    
    
                <div class="messages data " style="width: fit-content;">
                    <div class="search_history" style="flex-direction: column;width: fit-content;">
                        <input type="text" id="messages_title" placeholder="عنوان الرساله" autocomplete="off">
                        <textarea id="messages_msg" placeholder="الرساله"></textarea>
                    </div>
                    <div class="btn-green-sm" id="Add_welcome_message_btn"><i class="fa-solid fa-check"></i> <span>إضافه ألى رسائل الترحيب</span></div>
                    <div class="btn-red-sm" id="Add_daily_message_btn"><i class="fa-solid fa-xmark"></i><span>إضافه ألى الرسائل اليوميه</span></div>
                    
                    <table >
                        <thead>
                            <tr>
                                <th>التصنيف</th>
                                <th>العنوان</th>
                                <th>الرساله</th>
      
                            </tr>
                        </thead>
    
                        <tbody id="messages_table">

    
                        </tbody>
    
                    </table>
    
                </div>
    
                <div class="management data ">
    
                    <div class="site_setting border">
                        <div class="note" style="width: fit-content;">
                            ملاحظة ادارة الموقع محميه لا يستطيع احد<br> التعديل عليها عدا صاحب الموقع
                        </div>
                        <div class="title">
                            <i class="fa-solid fa-house-chimney"></i> 
                            <span>إعدادات الموقع</span>
                        </div>
    
                        <div class="textarea">
                            <div>إسم الموقع</div>
                            <textarea id="site_name" placeholder="شات فلان الكتابي"></textarea>
                        </div>
    
                        <div class="textarea">
                            <div>عنوان الصفحه</div>
                            <textarea id="site_title" placeholder="شات فلان الكتابي للجوال - شات خليجي عربي"></textarea>
                        </div>
    
                        <div class="textarea">
                            <div>وصف الموقع</div>
                            <textarea id="site_description" placeholder="شات فلان الكتابي للجوال , دردشه , مسابقات , العاب , تعارف , بدون تسجيل او تحميل"></textarea>
                        </div>
    
                        <div class="textarea">
                            <div>الكلمات الدلاليه</div>
                            <textarea id="tags" placeholder="شات فلان, شات فلان الكتابي, شات خليجي, شات بدون تسجيل, شات بدون تحميل"></textarea>
                        </div>
    
                        <div class="textarea">
                            <div>السكربت JavaScript</div>
                            <textarea id="javascript_code" placeholder="للمبرمجين فقط"></textarea>
                        </div>
    
                        <div class="textarea">
                            <div>لون القوالب</div>
                            <input id="theme_color" type="color" >
                        </div>
    
                        <div class="textarea">
                            <div>لون المحتوى</div>
                            <input id="content_color" type="color" >
                        </div>
    
                        <div class="textarea">
                            <div>لون الأزرار</div>
                            <input id="buttons_color" type="color" >
                        </div>
    
                        <div class="textarea">
                            <div>الرسائل</div>
                            <input id="message_time" class="input-sm" type="number" >
                            <span class="input_beside_txt">المده بالدقائق للرسائل اليوميه</span>
                        </div>
    
                        <div class="textarea">
                            <div>الحائط</div>
                            <input id="wall_time" class="input-sm" type="number" >
                            <span class="input_beside_txt">عدد الايكات</span>
                            <br>
                            <input id="wall_messages_time" class="input-sm" type="number" >
                            <span class="input_beside_txt">المده بين رسائل الحائط بالدقيقه</span>
                        </div>
    
                        
                        <div class="textarea">
                            <div>الزوار</div>
                            <input id="allow_guests" type="checkbox" >
                            <label class="input_beside_txt">السماح بدخول الزوار</label>
                            <br>
    
                            <input id="allow_subs" type="checkbox" >
                            <label class="input_beside_txt">السماح بتسجيل العضويات</label>
                            <br>
    
                            <input id="reconnection" type="checkbox" >
                            <label class="input_beside_txt">إستعاده الاتصال</label>
    
                            <br>
                            <input id="private_chat_number" class="input-sm" type="number" >
                            <span class="input_beside_txt">عدد الايكات للمحادثات الخاصه</span>
    
                            <br>
                            <input id="notifications_number" class="input-sm" type="number" >
                            <span class="input_beside_txt">عدد الايكات للتنبيهات</span>
    
                            <br>
                            <input id="send_pics_number" class="input-sm" type="number" >
                            <span class="input_beside_txt">عدد الايكات لإرسال صور\فيديو</span>
                        </div>
    
                        <div class="save" id="update_management_btn" style="cursor: pointer;">
                            <i class="fa-solid fa-floppy-disk"></i>
                            <span>حفظ</span>
                        </div>
    
    
    
    
                    </div>
    
                    <div class="site_options border">
                        <div class="title">
                            <i class="fa-solid fa-gear"></i>
                            <span>خيارات الموقع</span>
                        </div>
    
                        <section >
                            <div class="flex" style="align-items: center; margin-top: 3vh;">
                                <div class="txt-ico">
                                    <i class="fa-solid fa-image"></i>
                                    <span>ايقونات السوابر</span>
                                </div>
                                <div class="btn" style="width: fit-content;height: fit-content;border: 2px solid black;">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                            </div>
        
                            <div class="icons_grid">
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/crown.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/crown.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/crown.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/crown.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/crown.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/crown.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/crown.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/crown.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/crown.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                            </div>
        
                        </section>
    
                        <section>
                            <div class="flex" style="align-items: center; margin-top: 3vh;">
                                <div class="txt-ico">
                                    <i class="fa-solid fa-image"></i>
                                    <span>ايقونات الهداي</span>
                                </div>
                                <div class="btn" style="width: fit-content;height: fit-content;border: 2px solid black;">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                            </div>
        
                            <div class="icons_grid">
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/fly.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/fly.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/fly.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/fly.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/fly.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/fly.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/fly.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/fly.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/fly.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                            </div>
        
                        </section>
    
                        <section>
                            <div class="flex" style="align-items: center; margin-top: 3vh;">
                                <div class="txt-ico">
                                    <i class="fa-solid fa-image"></i>
                                    <span>الإبتسامات</span>
                                </div>
                                <div class="btn" style="width: fit-content;height: fit-content;border: 2px solid black;">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                            </div>
        
                            <div class="icons_grid">
    
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/emoii.gif" width="24" height="24" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                               
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/emoii.gif" width="24" height="24" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                               
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/emoii.gif" width="24" height="24" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                               
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/emoii.gif" width="24" height="24" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                               
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/emoii.gif" width="24" height="24" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                               
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/emoii.gif" width="24" height="24" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                               
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/emoii.gif" width="24" height="24" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                               
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/emoii.gif" width="24" height="24" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                               
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/emoii.gif" width="24" height="24" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                               
                            </div>
        
                        </section>
    
    
    
                    </div>
    
    
                </div>



            </div>
           




            </div>





        </div>
    </div>

    <script src="https://kit.fontawesome.com/8b8be9ae55.js" crossorigin="anonymous"></script>
    <script src="./js/cp.js"></script>
</body>
</html>