<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>شات رنات للجوال</title>
    <link rel="icon" href="./imgs/prv1.png" ">
    <link rel="stylesheet" href="./css/cp.css">
</head>
<body>
    
    <div class="grid">
        <div class="left">
            <ul class="lists">
                <li class="selected" data-dataName="history">السجل</li>
                <li data-dataName="status">الحالات</li>
                <li data-dataName="users">الأعضاء</li>
                <li data-dataName="bans">الحظر</li>
                <li data-dataName="permissions">الصلاحيات</li>
                <li data-dataName="filter">فلتر</li>
                <li data-dataName="rooms">الغرف</li>
                <li data-dataName="shortcuts">الإختصارات</li>
                <li data-dataName="subs">الإشتراكات</li>
                <li data-dataName="messages">الرسائل</li>
                <li data-dataName="management">إداره الموقع</li>
            </ul>
        </div>
        <div class="right">
            <div class="right_cont">


                <div class="history data showed_data">
                    <div class="search_history">
                        <input type="text" placeholder="البحث" autocomplete="off">
                    </div>
                    <table class="scroller">
                        <thead>
                            <tr>
                                <th>الحاله</th>
                                <th>العضو</th>
                                <th>الزخرفه</th>
                                <th>الآي بي</th>
                                <th>الدوله</th>
                                <th>الجهاز</th>
                                <th>المصدر</th>
                                <th>الدعوه</th>
                                <th>الوقت</th>
                            </tr>
                        </thead>
    
                        <tbody >
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                            <tr>
                                <td>دخول العضو</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>156.192.196.200</td>
                                <td>EG</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td></td>
                                <td></td>
                                <td>00:01:22:44</td>
                            </tr>
                        </tbody>
    
                    </table>
                </div>
    
    
                <div class="status data ">
    
                    <table>
                        <thead>
                            <tr>
                                <th>الحاله</th>
                                <th>العضو</th>
                                <th>العضو الثاني</th>
                                <th>الغرفه</th>
                                <th>الوقت</th>
                            </tr>
                        </thead>
    
                        <tbody>
                            <tr>
                                <td>حذف رساله عامة</td>
                                <td>houssem</td>
                                <td>houssem</td>
                                <td>ROOM || 1 العامه</td>
                                <td>07:19:12:46</td>
                            </tr>
    
                            <tr>
                                <td>حذف رساله عامة</td>
                                <td>houssem</td>
                                <td>houssem</td>
                                <td>ROOM || 1 العامه</td>
                                <td>07:19:12:46</td>
                            </tr>
    
                            <tr>
                                <td>حذف رساله عامة</td>
                                <td>houssem</td>
                                <td>houssem</td>
                                <td>ROOM || 1 العامه</td>
                                <td>07:19:12:46</td>
                            </tr>
    
                        </tbody>
    
                    </table>
                </div>
    
    
                <div class="users data ">
                    <div class="search_history">
                        <input type="text" placeholder="البحث" autocomplete="off">
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>العضو</th>
                                <th>الزخرفه</th>
                                <th>الآي بي</th>
                                <th>الجهاز</th>
                                <th>صلاحيات</th>
                                <th>آخر تواجد</th>
                                <th>التسجيل</th>
                                <th></th>
                            </tr>
                        </thead>
    
                        <tbody>
                            <tr>
                                <td>admin</td>
                                <td>Pi</td>
                                <td>156.192.196.200</td>
                                <td>Win.10.Chrome.1x0doy6.1edpxxf.1j0jvi0.1l9yrxw.1vg1lwt.1s8b6uq</td>
                                <td>tof33</td>
                                <td>54:00:40:35</td>
                                <td>2021-03-13</td>
                                <td><div class="btn"><i class="fa-solid fa-gear"></i></div></td>
                            </tr>
    
                        </tbody>
    
                    </table>
                </div>
    
    
                <div class="bans data ">
                    <div class="search_history">
                        <input type="text" placeholder="رقم الجهاز \\ الدوله \\ الاي بي" autocomplete="off">
                        <div class="btn-green">إضافه</div>
                    </div>
                    <table style="width: 70%;">
                        <thead>
                            <tr>
                                <th>العضو</th>
                                <th>الجهاز</th>
                                <th>الآي بي</th>
                                <th>ينتهي في</th>
    
      
                            </tr>
                        </thead>
    
                        <tbody>
                            <tr>
                                <td>alo</td>
                                <td>Android.9.Chrome.u4wyup.pr4u8v.rjc05t.1n7yeru.1vg1lwt.1s8arqi</td>
                                <td>156.192.196.200</td>
                                <td>دائم</td>
                              
                                <td style="padding: 0px;"><div class="btn-red"><i class="fa-solid fa-xmark"></i></div></td>
                            </tr>
                            <tr>
                                <td>alo</td>
                                <td>Android.9.Chrome.u4wyup.pr4u8v.rjc05t.1n7yeru.1vg1lwt.1s8arqi</td>
                                <td>156.192.196.200</td>
                                <td>دائم</td>
                               
                                <td style="padding: 0px;"><div class="btn-red"><i class="fa-solid fa-xmark"></i></div></td>
                            </tr>
    
                        </tbody>
    
                    </table>
                </div>
    
    
                <div class="permissions data ">
                    <div class="permissions_grid">
                        <div class="left">
                            <div class="flex">
                                <div  style="flex: 1">
                                    <select class="select_permission">
                                        <option value="tof3" class="tof3">[9000] tof3</option>
                                        <option value="ومضة" class="ومضة">[8999] ومضة</option>
                                        <option value="Master" class="Master">[8999] Master</option>
                                        <option value="ziad" class="ziad">[8999] ziad</option>
                                        <option value="بهار" class="بهار">[8998] بهار</option>
                                        <option value="تجريبي" class="تجريبي">[8998] تجريبي</option>
                                        <option value="حمزه" class="حمزه">[500] حمزه</option>
                                        <option value="" class="">[0] </option>
    
                                    </select>
                                </div>
                                <div class="btn-red" style="margin: 5px;">
                                    <i class="fa-solid fa-xmark"></i>
                                    <span>حذف</span>
                                </div>
                            </div>
    
                            <div class="flex permissions_inputs">
                                <div>الترتيب</div>
                                <input type="number" name="" id="">
                            </div>
    
                            <div class=" permissions_inputs">
                                <div>إسم المجموعه</div>
                                <input type="text" value="tof3">
                            </div>
    
                            <div class=" permissions_inputs">
                                <div>الإيقونه</div>
                                <input type="text" value="1604252172995.gif">
                            </div>
    
                            <div class="flex permissions_inputs">
                                <div>الطرد</div>
                                <input class="input-sm" type="number" name="" id="">
                            </div>
    
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>حذف الحائط</div>
                                <label >تفعيل</label>
                                <input type="checkbox" checked>
                            </div>
    
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>التنبيهات</div>
                                <label >تفعيل</label>
                                <input type="checkbox" checked>
                            </div>
    
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>تغير النك</div>
                                <label >تفعيل</label>
                                <input type="checkbox" checked>
                            </div>
    
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>تغير النكات</div>
                                <label >تفعيل</label>
                                <input type="checkbox" checked>
                            </div>
    
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>الباند</div>
                                <label >تفعيل</label>
                                <input type="checkbox" checked>
                            </div>
    
                            
                            <div class="flex permissions_inputs">
                                <div>الإعلانات</div>
                                <input class="input-sm" type="number" name="" id="">
                            </div>
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>فتح الخاص</div>
                                <label >تفعيل</label>
                                <input type="checkbox" checked>
                            </div>
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>نقل من الغرفة</div>
                                <label >تفعيل</label>
                                <input type="checkbox" checked>
                            </div>
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>إداره الغرف</div>
                                <label >تفعيل</label>
                                <input type="checkbox" checked>
                            </div>
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>انشاء الغرف</div>
                                <label >تفعيل</label>
                                <input type="checkbox" checked>
                            </div>
    
                                                    
                            <div class="flex permissions_inputs">
                                <div>اقصى حد للغرف الثابته</div>
                                <input class="input-sm" type="number" name="" id="">
                            </div>
    
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>إداره العضويات</div>
                                <label >تفعيل</label>
                                <input type="checkbox" checked>
                            </div>
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>إسكات العضو</div>
                                <label >تفعيل</label>
                                <input type="checkbox" checked>
                            </div>
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>تعديل لايكات العضو</div>
                                <label >تفعيل</label>
                                <input type="checkbox" checked>
                            </div>
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>الفلتر</div>
                                <label >تفعيل</label>
                                <input type="checkbox" checked>
                            </div>
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>الاشتراكات</div>
                                <label >تفعيل</label>
                                <input type="checkbox" checked>
                            </div>
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>الاختصارات</div>
                                <label >تفعيل</label>
                                <input type="checkbox" checked>
                            </div>
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>رسائل الدردشة</div>
                                <label >تفعيل</label>
                                <input type="checkbox" checked>
                            </div>
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>أدارة البوتات</div>
                                <label >تفعيل</label>
                                <input type="checkbox" checked>
                            </div>
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>تعديل الصلاحيات</div>
                                <label >تفعيل</label>
                                <input type="checkbox" checked>
                            </div>
    
                                                                            
                            <div class="flex permissions_inputs">
                                <div>الهدايا</div>
                                <input class="input-sm" type="number" name="" id="">
                            </div>
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>كشف النكات</div>
                                <label >تفعيل</label>
                                <input type="checkbox" checked>
                            </div>
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>لوحه التحكم</div>
                                <label >تفعيل</label>
                                <input type="checkbox" checked>
                            </div>
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>المحادثات الجماعية</div>
                                <label >تفعيل</label>
                                <input type="checkbox" checked>
                            </div>
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>حذف صورة العضو</div>
                                <label >تفعيل</label>
                                <input type="checkbox" checked>
                            </div>
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>حذف الرسائل العامة</div>
                                <label >تفعيل</label>
                                <input type="checkbox" checked>
                            </div>
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>مخفي</div>
                                <label >تفعيل</label>
                                <input type="checkbox" checked>
                            </div>
    
                            <div class="flex permissions_inputs" style="align-items: center;">
                                <div>إداره الموقع</div>
                                <label >تفعيل</label>
                                <input type="checkbox" >
                            </div>
    
                        </div>
    
                        <div class="right">
                            <div class="icon" data-icoName="1604252172995.gif">
                                <div><img src="./imgs/crown.gif" alt=""></div>
                                <div>1604252172995.gif</div>
                            </div>
                            <div class="icon" data-icoName="2904252672995.gif">
                                <div><img src="./imgs/crown.gif" alt=""></div>
                                <div>2904252672995.gif</div>
                            </div>
                            <div class="icon" data-icoName="1807852172995.gif">
                                <div><img src="./imgs/crown.gif" alt=""></div>
                                <div>1807852172995.gif</div>
                            </div>
                            <div class="icon" data-icoName="19394172995.gif">
                                <div><img src="./imgs/crown.gif" alt=""></div>
                                <div>19394172995.gif</div>
                            </div>
                        </div>
                    </div>
                </div>
    
    
                <div class="filter data " style="width: fit-content;">
                    <div class="search_history">
                        <input type="text" placeholder="اضافه كلمه\موقع" autocomplete="off">
                    </div>
                    <div class="btn-green-sm"><i class="fa-solid fa-check"></i> <span>إضافه ألى الكلمات المسموحه</span></div>
                    <div class="btn-red-sm"><i class="fa-solid fa-xmark"></i><span>إضافه ألى الكلمات الممنوعه</span></div>
                    <div class="btn-blue-sm"><i class="fa-solid fa-triangle-exclamation"></i> <span>إضافه ألى الكلمات المراقبه</span></div>
                    
                    <div class="txt">آخر الكلمات الممنوعه</div>
    
                    <div class="words">
    
    
                        <div class="words_card">
                            <div class="flex">
                                <div class="bg-blue">الكلمه</div>
                                <div class="remove_card"><i class="fa-solid fa-xmark"></i></div>
                                <div class="filtered_word">chat</div>
                            </div>
                            <div class="info">
                                <div>chat</div>
                                <div>user: Pi</div>
                                <div>IP: 37.77.68.97</div>
                            </div>
    
                        </div>
    
                        <div class="words_card">
                            <div class="flex">
                                <div class="bg-blue">الكلمه</div>
                                <div class="remove_card"><i class="fa-solid fa-xmark"></i></div>
                                <div class="filtered_word">chat</div>
                            </div>
                            <div class="info">
                                <div>chat</div>
                                <div>user: Pi</div>
                                <div>IP: 37.77.68.97</div>
                            </div>
    
                        </div>
    
                        <div class="words_card">
                            <div class="flex">
                                <div class="bg-blue">الكلمه</div>
                                <div class="remove_card"><i class="fa-solid fa-xmark"></i></div>
                                <div class="filtered_word">chat</div>
                            </div>
                            <div class="info">
                                <div>chat</div>
                                <div>user: Pi</div>
                                <div>IP: 37.77.68.97</div>
                            </div>
    
                        </div>
    
                        <div class="words_card">
                            <div class="flex">
                                <div class="bg-blue">الكلمه</div>
                                <div class="remove_card"><i class="fa-solid fa-xmark"></i></div>
                                <div class="filtered_word">chat</div>
                            </div>
                            <div class="info">
                                <div>chat</div>
                                <div>user: Pi</div>
                                <div>IP: 37.77.68.97</div>
                            </div>
    
                        </div>
    
                        <div class="words_card">
                            <div class="flex">
                                <div class="bg-blue">الكلمه</div>
                                <div class="remove_card"><i class="fa-solid fa-xmark"></i></div>
                                <div class="filtered_word">chat</div>
                            </div>
                            <div class="info">
                                <div>chat</div>
                                <div>user: Pi</div>
                                <div>IP: 37.77.68.97</div>
                            </div>
    
                        </div>
    
    
                    </div>
    
                    <table>
                        <thead>
                            <tr>
                                <th>التصنيف</th>
                                <th>الكلمه</th>
                                <th>الكلمه</th>
      
                            </tr>
                        </thead>
    
                        <tbody>
                            <tr>
                                <td>إضافة كلمة مراقبه الى الفلتر</td>
                                <td>chat</td>
                                <td><div class="btn-red"><i class="fa-solid fa-xmark"></i></div></td>
                            </tr>
    
                        </tbody>
    
                    </table>
                </div>
    
    
                <div class="rooms data " style="width: fit-content;">
                    <table >
                        <thead>
                            <tr>
                                <th>الغرفه</th>
                                <th>صاحب الغرفه</th>
                                <th>اعدادات</th>
      
                            </tr>
                        </thead>
    
                        <tbody>
                            <tr>
                                <td>ROOM || 1 العامه</td>
                                <td>tof3</td>
                                <td>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>الصورة</th>
                                                <th>كلمة السر</th>
                                                <th>الغرفه</th>
                      
                                            </tr>
                                        </thead>
                    
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="flex">
                                                                                                       
                                                    <div><img src="./imgs/prv1.png" alt="room photo"></div>
                                                    <div class="flexer">
                                                        <div class="btn-blue-sm" style="width: fit-content;"><i class="fa-solid fa-image"></i> <span>تغير</span></div>
                                                        <div class="btn-red-sm" style="width: fit-content;"><i class="fa-solid fa-xmark"></i> <span>حذف</span></div>
                                                    </div>
    
                                                    </div>
                                                </td>
                                                <td> <div class="btn-red-sm" style="width: fit-content;"><i class="fa-solid fa-xmark"></i> <span>حذف</span></div></td>
                                                <td> <div class="btn-red-sm" style="width: fit-content;"><i class="fa-solid fa-xmark"></i> <span>حذف</span></div></td>
                                            </tr>
                    
                                        </tbody>
                    
                                    </table>
    
                                </td>
                            </tr>
    
                        </tbody>
    
                    </table>
                </div>
    
    
                <div class="shortcuts data " style="width: fit-content;">
                    <div class="search_history" style="flex-direction: column;">
                        <input type="text" placeholder="الإختصار \ س1" autocomplete="off">
                        <input type="text" placeholder="الزخرفه \ السلام عليكم" autocomplete="off">
                    </div>
                    <div class="btn-green-sm" style="width: fit-content;"><i class="fa-solid fa-check"></i> <span>إضافه</span></div>
    
                    <table>
                        <thead>
                            <tr>
                                <th>الإختصار</th>
                                <th>الزخرفه</th>
                                <th>حذف</th>
      
                            </tr>
                        </thead>
    
                        <tbody>
                            <tr>
                                <td>الشر</td>
                                <td>آإلشششر وهـمـگ ف5</td>
                                <td><div class="btn-red"><i class="fa-solid fa-xmark"></i></div></td>
                            </tr>
    
                        </tbody>
    
                    </table>
                </div>
    
    
                <div class="subs data " style="width: fit-content;">
    
                    <table>
                        <thead>
                            <tr>
                                <th>الإشتراك</th>
                                <th>العضو</th>
                                <th>الزخرفه</th>
                                <th>المده</th>
                                <th>الايام المتبقيه</th>
                                <th></th>
      
                            </tr>
                        </thead>
    
                        <tbody>
    
                            
                            <tr>
                                <td> [9000] tof3</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>0</td>
                                <td>دائم</td>
                                <td><div class="btn"><i class="fa-solid fa-xmark"></i></div></td>
                            </tr>
    
    
                            <tr>
                                <td> [9000] tof3</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>0</td>
                                <td>دائم</td>
                                <td><div class="btn"><i class="fa-solid fa-xmark"></i></div></td>
                            </tr>
    
    
                            <tr>
                                <td> [9000] tof3</td>
                                <td>ziad</td>
                                <td>ziad</td>
                                <td>0</td>
                                <td>دائم</td>
                                <td><div class="btn"><i class="fa-solid fa-xmark"></i></div></td>
                            </tr>
    
                        </tbody>
    
                    </table>
                </div>
    
    
    
                <div class="messages data " style="width: fit-content;">
                    <div class="search_history" style="flex-direction: column;">
                        <input type="text" placeholder="اضافه كلمه\موقع" autocomplete="off">
                        <textarea placeholder="الرساله"></textarea>
                    </div>
                    <div class="btn-green-sm"><i class="fa-solid fa-check"></i> <span>إضافه ألى الكلمات المسموحه</span></div>
                    <div class="btn-red-sm"><i class="fa-solid fa-xmark"></i><span>إضافه ألى الكلمات الممنوعه</span></div>
                    
                    <table >
                        <thead>
                            <tr>
                                <th>التصنيف</th>
                                <th>العنوان</th>
                                <th>الرساله</th>
      
                            </tr>
                        </thead>
    
                        <tbody>
                            <tr>
                               
                                <td>الرسائل</td>
                                <td>الادارة</td>
                                <td>اهلا وسهلا بكم في شات التجريبي </td>
                                <td><div class="btn-red"><i class="fa-solid fa-xmark"></i></div></td>
                            </tr>
    
                        </tbody>
    
                    </table>
    
                </div>
    
                <div class="management data ">
    
                    <div class="site_setting border">
                        <div class="note" style="width: fit-content;">
                            ملاحظة ادارة الموقع محميه لا يستطيع احد<br> التعديل عليها عدا صاحب الموقع
                        </div>
                        <div class="title">
                            <i class="fa-solid fa-house-chimney"></i> 
                            <span>إعدادات الموقع</span>
                        </div>
    
                        <div class="textarea">
                            <div>إسم الموقع</div>
                            <textarea placeholder="شات فلان الكتابي"></textarea>
                        </div>
    
                        <div class="textarea">
                            <div>عنوان الصفحه</div>
                            <textarea placeholder="شات فلان الكتابي للجوال - شات خليجي عربي"></textarea>
                        </div>
    
                        <div class="textarea">
                            <div>وصف الموقع</div>
                            <textarea placeholder="شات فلان الكتابي للجوال , دردشه , مسابقات , العاب , تعارف , بدون تسجيل او تحميل"></textarea>
                        </div>
    
                        <div class="textarea">
                            <div>الكلمات الدلاليه</div>
                            <textarea placeholder="شات فلان, شات فلان الكتابي, شات خليجي, شات بدون تسجيل, شات بدون تحميل"></textarea>
                        </div>
    
                        <div class="textarea">
                            <div>السكربت JavaScript</div>
                            <textarea placeholder="للمبرمجين فقط"></textarea>
                        </div>
    
                        <div class="textarea">
                            <div>لون القوالب</div>
                            <input type="color" >
                        </div>
    
                        <div class="textarea">
                            <div>لون المحتوى</div>
                            <input type="color" >
                        </div>
    
                        <div class="textarea">
                            <div>لون الأزرار</div>
                            <input type="color" >
                        </div>
    
                        <div class="textarea">
                            <div>الرسائل</div>
                            <input class="input-sm" type="number" >
                            <span class="input_beside_txt">المده بالدقائق للرسائل اليوميه</span>
                        </div>
    
                        <div class="textarea">
                            <div>الحائط</div>
                            <input class="input-sm" type="number" >
                            <span class="input_beside_txt">عدد الايكات</span>
                            <br>
                            <input class="input-sm" type="number" >
                            <span class="input_beside_txt">المده بين رسائل الحائط بالدقيقه</span>
                        </div>
    
                        
                        <div class="textarea">
                            <div>الزوار</div>
                            <input type="checkbox" >
                            <label class="input_beside_txt">السماح بدخول الزوار</label>
                            <br>
    
                            <input type="checkbox" >
                            <label class="input_beside_txt">السماح بتسجيل العضويات</label>
                            <br>
    
                            <input type="checkbox" >
                            <label class="input_beside_txt">إستعاده الاتصال</label>
    
                            <br>
                            <input class="input-sm" type="number" >
                            <span class="input_beside_txt">عدد الايكات للمحادثات الخاصه</span>
    
                            <br>
                            <input class="input-sm" type="number" >
                            <span class="input_beside_txt">عدد الايكات للتنبيهات</span>
    
                            <br>
                            <input class="input-sm" type="number" >
                            <span class="input_beside_txt">عدد الايكات لإرسال صور\فيديو</span>
                        </div>
    
                        <div class="save">
                            <i class="fa-solid fa-floppy-disk"></i>
                            <span>حفظ</span>
                        </div>
    
    
    
    
                    </div>
    
                    <div class="site_options border">
                        <div class="title">
                            <i class="fa-solid fa-gear"></i>
                            <span>خيارات الموقع</span>
                        </div>
    
                        <section >
                            <div class="flex" style="align-items: center; margin-top: 3vh;">
                                <div class="txt-ico">
                                    <i class="fa-solid fa-image"></i>
                                    <span>ايقونات السوابر</span>
                                </div>
                                <div class="btn" style="width: fit-content;height: fit-content;border: 2px solid black;">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                            </div>
        
                            <div class="icons_grid">
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/crown.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/crown.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/crown.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/crown.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/crown.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/crown.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/crown.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/crown.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/crown.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                            </div>
        
                        </section>
    
                        <section>
                            <div class="flex" style="align-items: center; margin-top: 3vh;">
                                <div class="txt-ico">
                                    <i class="fa-solid fa-image"></i>
                                    <span>ايقونات الهداي</span>
                                </div>
                                <div class="btn" style="width: fit-content;height: fit-content;border: 2px solid black;">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                            </div>
        
                            <div class="icons_grid">
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/fly.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/fly.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/fly.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/fly.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/fly.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/fly.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/fly.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/fly.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/fly.gif" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                            </div>
        
                        </section>
    
                        <section>
                            <div class="flex" style="align-items: center; margin-top: 3vh;">
                                <div class="txt-ico">
                                    <i class="fa-solid fa-image"></i>
                                    <span>الإبتسامات</span>
                                </div>
                                <div class="btn" style="width: fit-content;height: fit-content;border: 2px solid black;">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                            </div>
        
                            <div class="icons_grid">
    
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/emoii.gif" width="24" height="24" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                               
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/emoii.gif" width="24" height="24" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                               
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/emoii.gif" width="24" height="24" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                               
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/emoii.gif" width="24" height="24" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                               
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/emoii.gif" width="24" height="24" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                               
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/emoii.gif" width="24" height="24" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                               
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/emoii.gif" width="24" height="24" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                               
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/emoii.gif" width="24" height="24" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                               
                                <div class="flex ico" style="align-items: center;gap: 3px;">
                                    <div><img src="./imgs/emoii.gif" width="24" height="24" alt=""></div>
                                    <div class="btn-red" ><i class="fa-solid fa-xmark"></i></div>
                                </div>
                               
                            </div>
        
                        </section>
    
    
    
                    </div>
    
    
                </div>



            </div>
           




            </div>





        </div>
    </div>

    <script src="https://kit.fontawesome.com/8b8be9ae55.js" crossorigin="anonymous"></script>
    <script src="./js/cp.js"></script>
</body>
</html>